<div style="padding-top: 90px;">
  <h6>Gérer les fabricants</h6>
  <div id="link1" [ngClass]="{'choix': true, 'selected': selectedItem == 1}" (click)="navigateToGestionMarques()"> Vue d'ensemble </div>
  <div id="link2" [ngClass]="{'choix': true, 'selected': selectedItem == 2}" (click)="nouvelleMarque()"> Nouvelle marque </div>
  <hr style="margin:10px;">
  <h6>Gérer les utilisateurs</h6>
  <div id="link3" [ngClass]="{'choix': true, 'selected': selectedItem == 3}" (click)="navigateToGestionUtilisateurs()"> Vue d'ensemble </div>
  <div id="link4" [ngClass]="{'choix': true, 'selected': selectedItem == 4}" (click)="nouvelUtilisateur()"> Nouvel utilisateur  </div>
  <div id="link5" [ngClass]="{'choix': true, 'selected': selectedItem == 5}" (click)="navigateToUtilisateursBloques()"> Utilisateurs bloqués </div>

</div>
