
<div class="row vw-100" id="top-footer"></div>
<div  class="row vw-100" id="down-footer">
  <div class="col-lg-3">
    <div class="container m-auto" style="padding-left: 25px; padding-top: 30px;">
      <img id="logo" id="logo" src="../../../assets/images/Icons/try5.png">
      <p class="text1">All Rights Reserved - SayaraDZ</p>
      <p class="text1">2018 - 2019</p>
    </div>
  </div>
  <div class="col-lg-2" style="padding-top: 60px;">

      <div class="lien"> A propos </div>
      <div class="lien"> Qui somme nous ? </div>
      <div class="lien"> Nos offres </div>
      <div class="lien"> Nos services </div>
      <div class="lien"> FAQs </div>

  </div>
  <div class="col-lg-3" style="padding-top: 60px;">

    <div class="info"> Contactez nous </div>
    <div class="row">
      <div class="col-lg-3"><div class="info"> Mail </div></div>
      <div class="col-lg-9"><div class="detail"> sayaradz@website.dz </div></div>
    </div>
    <div class="row">
      <div class="col-lg-3"><div class="info"> Telephone </div></div>
      <div class="col-lg-9"><div class="detail"> +213 699 84 51 63 </div></div>
    </div>
    <div class="row">
      <div class="col-lg-3"><div class="info"> Fax </div></div>
      <div class="col-lg-9"><div class="detail"> +213 23 97 44 96</div></div>
    </div>
  </div>
  <div class="col-lg-4" style="padding-top: 60px;">
    <div class="info"> Trouvez nous </div>
    <img  class="mr-2 social-m" src="../../../assets/images/Icons/facebook.png">
    <img class="mr-2 social-m" src="../../../assets/images/Icons/twitter.png">
    <img class="mr-2 social-m" src="../../../assets/images/Icons/linkedin.png">
  </div>
</div>

