<header class="m-auto">

    <div class="row m-auto">
      <div class="col-lg-2 m-auto">
        <img  src="../../../assets/images/try3.png">
      </div>
      <div class="col-lg-6 offset-1 m-auto">
        <form [formGroup]="searchForm" class="m-auto w-100 ">
          <input type="text" class="form-control m-auto w-100" formControlName="recherche" placeholder=" Rechercher..." >
          <i class="fas fa-search"></i>
        </form>
      </div>
      <div class="col-lg-3 ">

      </div>
    </div>

</header>
