
table {

  width: 100%;
}
#tab-container {
  padding: 0px;
  width: 100%;

}

.mark-logo {
  height:40px;
  width: 40px;
  margin: 5px;
}

.op {
  padding: 10px;
  width:38px;
  height: 38px;
  margin: 5px 3px;
  transition-property: background-color, border-radius;
  transition-duration: 300ms;
}
.op:hover {
  background-color: #eaeaea;
  border-radius: 10px;
}
.op:active {
  background-color: lightgray;
  border-radius: 10px;
}
th {
  width: 14.28%;
}

input {
  border-radius: 7px;
}

i {
  float:right;
  margin-right: 10px;
  transform: translateY(-27px);
  display: inline;
}
#new_mark {
  background-color: #2980b9;
  transform: translate(13px, -10px);

}
