#line {
  border: solid 1px #1abc9c;
  border-radius: 50px;
  width: 75px;
}

form {
  transform: translateY(10px);
}
form input {
  border-radius: 7px;
}

form i {
  float:right;
  margin-right: 10px;
  transform: translateY(-27px);
  display: inline;
}
#new_mark {
  background-color: #2980b9;

}

table {
  padding: 0px;
  margin:0px 0px 0px -15px;
  width: 100%;
}

.mark-logo {
  height:40px;
  width: 40px;
  margin: 5px;
}
