
<div class="container">
  <div class="row">
    <div id="signinbox" class="col-lg-5 p-4 mx-auto">
      <div class="row">
        <div class="col-8">
          <img src="../../../assets/images/logo.png">
        </div>
      </div>
      <div id="innerbox" >
        <div class="row">
          <div class="col-lg-9 m-auto ">
            <div id="title">Connexion</div>
            <div id="line" class="m-auto"></div>

            <form [formGroup]="signinform" (ngSubmit)="onSubmit()" id="signinform" class=" w-100 py-4 mt-4">

                <input class="notValid form-control" placeholder="Adresse mail" type="text" formControlName="Mail">

                <input class=" form-control"  placeholder="Mot de passe" type="password" formControlName="Mdp">


              <button class="btn btn-primary w-100">Se connecter</button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-10 offset-1 m-auto "><div id="errorMsg" class="m-auto "><mdb-icon  *ngIf="errorMsg" fas icon="exclamation-circle"></mdb-icon><b class="ml-2">{{errorMsg}}</b></div></div>
        </div>
      </div>
    </div>
  </div>
</div>

