
<div class="container">
  <div class="row">
    <div id="signinbox" class="col-lg-5 p-4 mx-auto">
      <div class="row">
        <div class="col-8">
          <img src="../../../assets/images/logo.png">
        </div>
      </div>
      <div id="innerbox" >
        <div class="row">
          <div class="col-lg-9 m-auto ">
            <div id="title">Connexion</div>
            <div id="line" class="m-auto"></div>

            <form id="signinform" class=" w-100 p-4 mt-4">
              <mat-form-field class="mx-auto my-1 w-100">
                <input matInput placeholder="Adresse mail" type="text">
              </mat-form-field>
              <mat-form-field class="mx-auto my-1 w-100">
                <input matInput placeholder="Mot de passe" type="password">
              </mat-form-field>

              <button class="btn btn-primary w-100">Se connecter</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

