<div class="container">
  <div class="row p-2">
    <div class="col-12 m-auto">
      <form id="modifierMarqueForm" [formGroup]="modifierMarqueForm">
        <div class="d-flex justify-content-between align-items-center mb-0">
          <h3 style="transform:translateY(20px);" >Modifier marque</h3>
          <mat-progress-spinner *ngIf="isLoading" color="primary" mode="indeterminate" diameter="40" ></mat-progress-spinner>
          <img *ngIf="complete" style="width:40px;height:40px;" src="../../../../assets/images/complete.png">
        </div>
        <hr>
        <div class="form-group">
          Code marque :
          <input disabled [(ngModel)]="CodeMarque" formControlName="CodeMarque" class="in form-control" type="text">
        </div>
        <div class="form-group mb-0">
          Désignation :
          <input [(ngModel)]="NomMarque"  formControlName="NomMarque" class="in form-control " type="text">
        </div>
        <div class="form-group mt-2">
          <div class="d-flex justify-content-between align-items-end mb-2">
            Logo :
            <img  style="height:50px;width:50px;" class="img-thumbnail" [src]="imgURL">

          </div>

          <div class=" input-group mb-3">
            <div class="custom-file">
              <input formControlName="imageMarque" #file (change)="setFile(file.files)" type="file" class="in custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
              <label class="in custom-file-label" for="inputGroupFile03">{{ fileName }}</label>
            </div>
          </div>
        </div>

        <div id="errorMsg"  *ngIf="errorMsg" style="text-align: center">
          <mdb-icon  fas icon="exclamation-circle"></mdb-icon><b class="ml-2">{{errorMsg}}</b>
        </div>

        <hr>
        <div style="text-align: right;" class="mr-0 w-100">
          <button (click)="onNoClick()" class="z-depth-0 mr-0 btn btn-light">Annuler</button>
          <button type="submit" (click)="onSubmit()" class="mr-0 btn btn-primary" >Modifier</button>
        </div>

      </form>
    </div>
  </div>
</div>
