<div class="header vw-100 m-auto">
  <img class="m-auto" src="https://res.cloudinary.com/hftzhatr4/image/upload/v1553167979/ressources/try5.png">
</div>

<div class="body ">
<div  class="container my-5 " >
  <div class="row">
    <div *ngIf="!complete" class="col-md-6 offset-3 z-depth-1 p-5 bg-white">
      <div class="d-flex justify-content-between align-items-center">
        <h3>Completez votre inscription</h3>
        <mat-progress-spinner *ngIf="isLoading" class="mb-2" color="primary" mode="indeterminate" diameter="40" ></mat-progress-spinner>
      </div>
      <p>Votre compte a été créé avec succés, saisissez un mot de passe
      pour terminer l'inscription</p>
      <form [formGroup]="passwordForm" style="text-align: right">
        <mat-form-field class="w-100 mb-0 pb-0">
          <input class="mb-0" minlength="8" matInput placeholder="Mot de passe" value="" formControlName="Mdp" type="password">
        </mat-form-field>
        <div  class="mt-0 pt-0 errorMsg">
          <mdb-icon *ngIf="mdpError"  fas icon="exclamation-circle"></mdb-icon>
          <b class="ml-2">{{mdpError}}</b>
        </div>
        <mat-form-field class="w-100 mb-0">
          <input matInput placeholder="Confirmer le mot de passe" value="" formControlName="ConfirmMdp" type="password">
        </mat-form-field>
        <div   class="mt-0 pt-0 errorMsg">
          <mdb-icon *ngIf="confirmError" fas icon="exclamation-circle"></mdb-icon>
          <b class="ml-2">{{confirmError}}</b>
        </div>
        <button (click)="onSubmit()" class="btn btn-primary w-50" [disabled]="isLoading">Terminer</button>
      </form>
    </div>
    <div *ngIf="complete" class="col-md-6 offset-3 z-depth-1 p-5 bg-white">
      <div class="w-100" style="text-align: center"><h3>Inscription complete</h3></div>
      <div class="w-100" style="text-align: center"><p >Vous allez être rediriger vers la page d'authentification</p></div>
      <div class="w-100 m-auto" style="text-align:center;">
        <img  class="m-auto" src="../../../assets/images/checked.png">
      </div>
    </div>
  </div>
</div>
  <img id="footerImg"  src="../../../assets/images/bg_city.png">
</div>



<div class="footer vw-100 fixed-bottom">

</div>
