<div id="tab-container" class="mat-elevation-z8">
  <table mat-table  [dataSource]="dataSource" matSort aria-label="Elements">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="Code">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Code </th>
        <td mat-cell *matCellDef="let element"> {{element.CodeMarque}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Nom">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.NomMarque}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Logo">
        <th mat-header-cell *matHeaderCellDef> Logo </th>
        <td mat-cell *matCellDef="let element">
          <img  class="mark-logo" *ngIf="element.images[0] !== undefined" [src]="element.images[0].CheminImage">
          <img  class="mark-logo" *ngIf="element.images[0] === undefined" src="../../../assets/images/no-photo.png">
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Gestion">
        <th mat-header-cell *matHeaderCellDef> Gestion </th>
        <td mat-cell *matCellDef="let element">
          <div style="display: flex;flex-direction: row;">

            <img (click)="onClick(element.CodeMarque)" class="op" src="../../../assets/images/Icons/new-user.png">
            <img class="op" src="../../../assets/images/Icons/edit.png">
            <img class="op" src="../../../assets/images/Icons/rubbish-bin-delete-button.png">

          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  <mat-card *ngIf="dataSource.isLoading"
                style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner
          color="primary"
          mode="indeterminate">
        </mat-progress-spinner>
      </mat-card>
  <!-- https://stackoverflow.com/questions/46869616/how-to-use-matpaginatorintl -->
  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
